<!DOCTYPE html>
<html>
<head>
	<title>shop</title>


  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

	<div class="shop_name">
		<h1>shop</h1>
		
	</div>

	<div class="pic">
		<img src="https://rukminim1.flixcart.com/image/312/312/jc6jl3k0/earring/x/2/7/ybear-31772a-you-bella-original-imaez9n7sh8djtfc.jpeg?q=70">

		<img src="https://css.brilliantearth.com/static/img/gateway/earrings-v2/ir236/diamond-stud-earrings.jpg">

		<img src="https://5.imimg.com/data5/DR/LS/MY-2167390/ladies-gold-earrings-500x500.jpg">
		
	</div>

<div class="why">
<h2>why us?</h2>

<ol>
  <li>better quality</li>
  <li>good treating</li>
  <li>free shipping</li>
  <li>two years guarantee</li>
</ol> 
</div>

</body>
</html>